<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
  <h1 class="display-4">
    Aplicacion de {{ title }} 
  </h1>
</div>
<router-outlet></router-outlet>


<!-- <input 
  type="text" 
  name="" 
  id="searchNombre" 
  class="form-control" 
  placeholder="alumno a buscar"
  aria-describedby="helpId"
  [(ngModel)]="entrada"
  >
<button 
  type="button" 
  id="btBuscar" 
  class="btn btn-primary btn-lg px-5"
  [disabled] = "!activar()" 
  >Buscar</button>
<p>La entrada es {{entrada}}</p>
<app-alumno-lista></app-alumno-lista> -->
<!-- <app-alumnos-main></app-alumnos-main> -->


